<div class="form-container">
  <h2>Register</h2>
  <button class="btn btn-outline-primary" routerLink="/login">Login</button>
  <form #regForm="ngForm" (ngSubmit)="register(regForm)" novalidate>

    <label>Username:</label>
    <input type="text" name="userName" [(ngModel)]="userName" required />
    <div *ngIf="regForm.submitted && !userName" class="error">Username is required</div>

    <label>Password:</label>
    <input type="text" name="password" [(ngModel)]="password" required minlength="6" />
    <div *ngIf="regForm.submitted && !password" class="error">Password is required</div>

    <label>Confirm Password:</label>
    <input type="text" name="confirmPassword" [(ngModel)]="confirmPassword" required />
    <div *ngIf="confirmPassword && confirmPassword !==password" class="error">
      Password do not match.
    </div>

    <label>Email:</label>
    <input type="email" name="emailAddress" [(ngModel)]="emailAddress" />
    <div *ngIf="regForm.submitted && !emailAddress" class="error">Email is required</div>

    <button type="submit" [disabled]="!regForm.valid || password !== confirmPassword">
      Register
    </button>

    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
  </form>
</div>

    